[Desktop Entry]
Type=Application
Name=Uninstall Lokinet
Comment=Remove Lokinet
Icon=/usr/share/pixmaps/lokiremove.png
Exec=/etc/lokinet/assets/uninstall.sh
Terminal=false
Categories=Internet;
