[Desktop Entry]
Type=Application
Name=Lokinet Uninstall BLAST
Comment=Remove Lokinet
Icon=/usr/share/pixmaps/lokiremove.png
Exec=/tmp/lokinet/assets/uninstall.sh
Terminal=true
Categories=Network
